.header {
	&__logotype {
		background-color: #f8f4ee;
		.header__logo-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo__link{
				display: block;
				max-width: 20em;
				margin: 24px 0;
				position: relative;
				z-index: 15;
				transition: 0.3s;

				&:hover {
					filter: drop-shadow(3px 3px 6px @aqua);
				}
			}
		}
	}
	&__links {
		background-color: @aqua;
		.grad3(lighten(@aqua, 20), darken(@aqua, 10%));
		.header__links-list {
			.center;
			flex-wrap: wrap;
			.header__link-item {
				padding: 0 1em;	
				font-size: 1.2em;
				font-weight: 500;
				line-height: 3em;
				text-shadow: 1px 1px 2px #333,
					0 0 5px darken(@blue, 20%);
				box-shadow: 1px 1px 1px @blue,
					1px 0px 2px darken(@blue, 27%),
					-2px 0px 2px lighten(@aqua, 10%),
					inset 4px 5px 9px lighten(@aqua, 12%),
					inset -4px -7px 10px darken(@aqua, 11%);
				margin: 3px 2px;
			
				.white;
				.circButton();

				&:hover{
					text-shadow: -1px 0px 1px #fff,
						1px 1px 1px #000;
					.btn-hover;
					transform: scale(1.05) translate(-1px);
					box-shadow: 1px 1px 1px @blue,
						2px 2px 3px darken(@blue, 20%),
						inset 1px 0px 1px lighten(@aqua, 12%);
				}
			}
		}
	}
}
.header__contacts-wrapper {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9;

	.header__logo-contacts{
		display: flex;
		justify-content: flex-end;

		.contacts__link{
			.white;
			font-size: 1.05em;
			height: 3em;
			.aquaB;
			.center;
			display: inline-flex;
			padding: 0 1.1em;
			border-left: 1px solid #fff5;
			.circButton;
			&:hover{
				// .blueB;
				color: hsla(0,0%,100%,0.7);
				text-shadow: 1px 1px #888;
				.btn-hover;
				.contacts__icon{
					fill: lighten(@aqua, 30%);
					transform: scale(1.08);
					filter: drop-shadow(1px 1px 3px #333);
					// fill: hsla(0,0%,100%,0.7);
				}
			}
			.contacts__icon{
				fill: #fff;
				margin-right: 0.5em;
				transition: 0.3s;
				width: 2em;
			}
		}
		.contacts__link--cart{
			background-color: darken(@aqua, 10%);
			font-size: 0.85em;
			height: 3.7em;
			.in-cart{
				font-weight: bold;
				font-size: 1.1em;
			}
		}
	}
}