.video__slider-wrapper {
	position: relative;
	overflow: hidden;
	// height: 360px; 

	.max550({
		margin-top: 3em;
		});
	
	.video__slider-item {
		margin: 0;
		padding: 0;
		background-color: lighten(@aqua, 20);
		position: relative;
		.center;
		display: none;
		overflow: hidden;
		opacity: 0;
		transition: 0.3s;
		text-align: center;
		height: 550px; 
		// По высоте самого низкого видео!

		.max1000({
			height: 500px;
			});
		.max900({
			height: 450px;
			});
		.max800({
			height: 410px;
			});
		.max700({
			height: 380px;
			});
		.max600({
			height: 360px;
			});


		.slider-video {
			padding: 0;
			min-width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.slider-text {
			position: absolute;
			text-align: center;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			// width: 100%;

			.max900({
				font-size: 90%;
				});
			.max350({
				font-size: 80%;
				});
			.slider__head {
				.robotS;
				.white;
				font-size: 4.5em;
				margin: 0;
				opacity: 0;
				animation: text-video 1s 0.5s forwards;

				.max1000({
					font-size: 3.5em;
					});
				.max800({
					font-size: 3em;	
					});
				.max600({
					font-size: 2.5em;	
					});

			}
			.slider__description {
				.robotS;
				.white;
				font-size: 1.8em;
				margin: 0;
				margin-bottom: 1em;
				opacity: 0;
				animation: text-video 1s 1.5s forwards;
				.max800({
					font-size: 1.7em;
					padding: 0 3em;	
					});
				.max600({
					font-size: 1.5em;	
					});
			}
			.slider__link {
				.robot5;
				color: rgb(173, 227, 108);
				font-size: .95em;
				padding: .6em 1.5em;
				background-color: rgba(0, 0, 0, 0.75);
				border-radius: 1.3em;
				margin-top: 2.5em;
				background-image: radial-gradient(@blue 55%, transparent 90%);
				background-position: -00% 00%;
				background-size: 0%;
				background-repeat: no-repeat;
				transition: 0.5s;
				opacity: 0;
				animation: text-video 1s 2.5s forwards;
				&--blue{
					color: rgb(85, 209, 240);
				}
				&:hover {
					background-position: 50% 50%;
					background-size: 200%;
				}
			}
		}
	}
	.video__slider-item--show{
		display: flex;
		opacity: 1;
	}

	.video__toggles-list {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%);

		.video__toggle-item {
			.arrow(4.5em);
			.max900({
				.arrow(3.5em)
				});
		}
		.video__toggle-item--right{
			right: 1em;
		}
		.video__toggle-item--left{
			.reflect-arrow;
			left: 1em;
		}
	}
}

@keyframes text-video {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}