include indexBook
footer.footer
	section._info-wrapper
		._info.wrapper
			.info-video.footer-block
				h3._heading Посмотри
				.video__list
					.video__slider-wrapper
							
						.video__item.site-video
							+svg('#video', 'video__icon', 100)
							img(src='images/dest/index-tours-1.jpg')
							.site-video__wrapper
								.site-video__container
									.video__exit
										+svg('#cross', '.site-video__close-icon', 50)
									video.site-video__slide(controls)
										source(src="video/bears.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
										source(src="video/bears.webm" type='video/webm; codecs="vp8, vorbis"')
										source(src="video/bears.ogv" type='video/ogg; codecs="theora, vorbis"')
						
						+siteVideo('nothern-light', 'index-tours-6.jpg')

						iframe.video__item(src="https://www.youtube.com/embed/gtjdGyBuanE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

					.info-slider__arrow.-right
						+svg('#arrow', 'slider-arrowm__icon', 50)
					.info-slider__arrow.-left
						+svg('#arrow', 'slider-arrowm__icon', 50)
			
				

			.info-connect.footer-block
				h3._heading Будь вкурсе
				p._sign-text Подпишись на новости
				form.sign-form
					input._input(type="email" placeholder="Введите свой email...")
					button(type="submit" value="submit")._submit
						+svg('#arrow', 'sign-form__icon')
				._social-buttons
					- var iconWidth = 40; //- width of social-icons
					a(href="#")._social-link facebook
						+svg('#facebook',"footer__social-icons", iconWidth)
					a(href="#")._social-link instagram
						+svg('#instagram',"footer__social-icons", iconWidth)
					a(href="#")._social-link flickr
						+svg('#flickr',"footer__social-icons", iconWidth)
					a(href="#")._social-link youtube
						+svg('#youtube',"footer__social-icons", iconWidth)
					a(href="#")._social-link tripadvisor
						+svg('#tripadvisor',"footer__social-icons", iconWidth * 1.3)
			
			.contacts.footer-block
				h3._heading Контакты
				p._item
					b Alaska Tour & Travel
					br
					| 3900 Арктический бул., Ste 304
					br
					| Анкоридж, AK 99503
					br
					| 800-208-0200 или 907-245-0200
				._link-list
					a(href="#")._link-item Карта
					a(href="#")._link-item О нас
					a(href="#")._link-item.last Контакты
	section.additional-links
		._wrapper.wrapper
			a.button-up(href="#")
				+svg('#arrow', 'button-up__icon', 50)
			._links-list
				a._links-item(href="#") Условия и определения
				a._links-item(href="#") Конфиденциальность
				a._links-item(href="#") Карта сайта
				span._links-item Авторский знак © 2020 • 
					a(href="#")._links-item Аляска TOUR & TRAVEL



//- <script src="//www.youtube.com/player_api"></script>