header.header

	nav.__links

		.logo-menu-wrapper
			.header__logo-wrapper.wrapper 
					a(href="#").logo__link
						img._img(src='images/dest/logo.png' alt='Логотип')

			.header__menu-button 
				span.menu-text Menu
				+svg('#arrow', 'nav__menu-icon menu-icon--arrow menu-icon--shown', 32)
				+svg('#cross', 'nav__menu-icon menu-icon--cross', '22')

		._links-wrapper
			._links-list.wrapper
				.nav__list.-left
					a.nav__link-item(href="#") Направления
					a.nav__link-item(href="#") Каникулы
					a.nav__link-item(href="#") Жильё
					a.nav__link-item(href="#") Список дел
				.nav__list.-right
					a.nav__link-item(href="#") Транспорт
					a.nav__link-item(href="#") Круизы
					a.nav__link-item(href="#") Планирование поездки


			section.header__contacts-wrapper
				.header__logo-contacts.wrapper
					a.contacts__link(href="#")
						+svg('#phone', 'contacts__icon', '24')
						| 800-208-0200
					a.contacts__link(href="#")
						+svg('#book', 'contacts__icon', '38', '31')
						|брошюра
					a.contacts__link(href="#")
						+svg('#letter', 'contacts__icon', '31')
						|контакт
					a.contacts__link(href="#")
						+svg('#search', 'contacts__icon', '28')
						|
					a.contacts__link.-cart(href="#")
						+svg('#suitcase', 'contacts__icon', '31')
						p.contact__text--cart Моя поездка #[span.in-cart (0)]

