section.book-wrapper
	.book.wrapper
		
		h2._heading Выбери свое направление

		._choise-wrapper
			.choise
				._list
					._item(tabindex=0)
						img._type-icon(src="images/dest/PACKAGES.png", alt="пакеты")
						p._type-description Пакеты
					._item(tabindex=0)
						img._type-icon(src="images/dest/lodging.png", alt="Проживание")
						p._type-description Проживание
					._item(tabindex=0)
						img._type-icon(src="images/dest/ACTIVITY.png", alt="Активность")
						p._type-description Активность

				._list
					._item(tabindex=0)
						img._type-icon(src="images/dest/transport.png", alt="Транспорт")
						p._type-description Транспорт
					._item(tabindex=0)
						img._type-icon(src="images/dest/CRUISES.png", alt="Круизы")
						p._type-description Круизы
					._item(tabindex=0)
						img._type-icon(src="images/dest/search.png", alt="Поиск")
						p._type-description Поиск

			form.choise-form
				fildset._fieldset.-grid
					
					._input-field(tabindex=0) 
						p.input__text Длительность путешествия 
						ul._option-list
							li._option-item 1-2 дня
							li._option-item 2-3 дня
							li._option-item 3-4 дня
							li._option-item 4-5 дней
							li._option-item 6-7 дней
							li._option-item 7-8 дней
							li._option-item 8-9 дней
							li._option-item 9-10 дней
					._input-field(tabindex=0)  
						p.input__text  Город отправления 
						ul._option-list
							li._option-item Анкоридж
							li._option-item Фэйрбэнк
							li._option-item Гридвуд
							li._option-item Сивард
							li._option-item Уиттер
					
					._input-field(tabindex=0)  
						p.input__text Транспорт 
						ul._option-list
							li._option-item Поездом
							li._option-item На автобусе
							li._option-item Арендовать автомобиль
					._input-field(tabindex=0)  
						p.input__text Город прибытия 
						ul._option-list
							li._option-item Анкоридж
							li._option-item Фэйрбэнк
							li._option-item Гридвуд
							li._option-item Сивард
							li._option-item Уиттер

				fildset._fieldset
					._input-field(tabindex=0)  
						p.input__text Место 
						ul._option-list
							li._option-item Анкоридж
							li._option-item Посадка Купера
							li._option-item Центр Купера
							li._option-item Парк Денали
							li._option-item Фэирбэнкс
							li._option-item Гридвуд
							li._option-item Гомер
							li._option-item Кэннекот МакКарти
							li._option-item Палмер
							li._option-item Севард
							li._option-item Солдотна
							li._option-item Талкетна
							li._option-item Вальдез

					._input-field.-datepicker   
						p.input__date Дата заезда
						input(type="text"  value="" size="10" onclick="xCal(this) "  onkeyup="xCal()" ).datepicker

					._input-field(tabindex=0)  
						p.input__text Количество ночей
						ul._option-list
							li._option-item 1 ночь
							li._option-item 2 ночи
							li._option-item 3 ночи
							li._option-item 4 ночи
							li._option-item 5 ночей
							li._option-item 6 ночей
							li._option-item 7 ночей
							li._option-item 8 ночей
							li._option-item 9 ночей
							li._option-item 10 ночей
							li._option-item 11 ночей
							li._option-item 12 ночей
							li._option-item 13 ночей
							li._option-item 14 ночей
							li._option-item 15 ночей

				fildset._fieldset
					._input-field(tabindex=0)  
						p.input__text Место
						ul._option-list
							li._option-item Анкоридж
							li._option-item Посадка Купера
							li._option-item Центр Купера
							li._option-item Парк Денали
							li._option-item Фэирбэнкс
							li._option-item Гридвуд
							li._option-item Гомер
							li._option-item Кэннекот МакКарти
							li._option-item Палмер
							li._option-item Севард
							li._option-item Остановка ледника Спенсера
							li._option-item Талкетна
							li._option-item Вальдез
							li._option-item Виттер

					._input-field(tabindex=0)  
						p.input__text Вид отдыха 
						ul._option-list
							li._option-item Тур по Полярному кругу
							li._option-item Атракционы
							li._option-item Тур наблюдения за медведями
							li._option-item Поездка на велосипедах
							li._option-item Поездка на автобусе
							li._option-item Дневной круиз
							li._option-item Ресторан-театр
							li._option-item Тур на собачьих упряжках
							li._option-item Рыболовное путешествие
							li._option-item Обзорный полёт
							li._option-item Тур на ледники
							li._option-item Добыча золота
							li._option-item Пеший тур
							li._option-item Тур на внедорожниках
							li._option-item Тур на реактивных катерах
							li._option-item Сплав на каяках
							li._option-item Музеи
							li._option-item Местная культура
							li._option-item Рафтинг
							li._option-item Круиз на речном судне
							li._option-item Салмон Бэйкс
							li._option-item Тур по окрестностям
							li._option-item Дневной тур на поезде
							li._option-item Тур по дикой природе и заповедникам
							li._option-item Зиплайн тур

					._input-field.-datepicker   
						p.input__date  Дата
						input(type="text" value="" size="10" onclick="xCal(this)" onkeyup="xCal()").datepicker

				fildset._fieldset
					._input-field(tabindex=0)  
						p.input__text Город отправления
						ul._option-list
							li._option-item Анкоридж
							li._option-item Парк Дэнели
							li._option-item Фэйрбэнкс
							li._option-item Сивард
							li._option-item Талкитна
							li._option-item Уиттер

					._input-field(tabindex=0)  
						p.input__text Город прибытия 
						ul._option-list
							li._option-item Анкоридж
							li._option-item Парк Дэнели
							li._option-item Фэйрбэнкс
							li._option-item Сивард
							li._option-item Талкитна
							li._option-item Уиттер

					._input-field.-datepicker   
						p.input__date  Дата
						input(type="text" value="" size="10" onclick="xCal(this)"  onkeyup="xCal()").datepicker

				fildset._fieldset
					._input-field(tabindex=0)  
						p.input__text Месяц тура
						ul._option-list
							li._option-item Апрель
							li._option-item Май
							li._option-item Июнь
							li._option-item Июль
							li._option-item Август
							li._option-item Сентябрь

					._input-field(tabindex=0)  
						p.input__text Компания
						ul._option-list
							li._option-item Знаменитые круизы
							li._option-item Голандская Америка
							li._option-item Норвежские круизные линии
							li._option-item Круизы принцессы
							li._option-item Королевские Карибы
							li._option-item Океан викингов

					._input-field(tabindex=0)  
						p.input__text Маршрут
						ul._option-list
							li._option-item Вокруг Сиетла
							li._option-item Вокруг Ванкувера
							li._option-item Из Севарда в Ванкувер
							li._option-item Из Ванкувера в Севард
							li._option-item Из Ванкувера в Уиттер
							li._option-item Из Уиттера в Ванкувер

				fildset._fieldset
					input._input-field.-search-input(type="search" placeholder="Поиск")

				input._submit-button(type="submit" value="Результат")
		._notice 
			p._notice-text Забронируйте сейчас без риска , ваш депозит полностью возвращается за 45 дней до поездки. #[a.notice__link(href="#") Узнать больше>]

